.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    max-width: 100%;
    overflow: hidden;
}

.chart-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #111827;
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}




.chart-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: visible;
}